<div>
  <div>
    <div class="header-title">
      <h1>Реестр реципиентов</h1>
      <p>Поиск реципиентов</p>
    </div>
    <div class="grid-container">
      <form class="example-form">
        <div class="grid-row">
          <mat-form-field class="grid-item">
            <input matInput placeholder="Фамилия" />
          </mat-form-field>
          <mat-form-field class="grid-item">
            <input matInput placeholder="Имя" />
          </mat-form-field>
          <mat-form-field class="grid-item">
            <input matInput placeholder="Отчество" />
          </mat-form-field>
          <mat-form-field class="grid-item">
            <input matInput placeholder="ИИН" />
          </mat-form-field>
          <button mat-button class="grid-item-button">Поиск</button>
        </div>
        <div class="grid-row">
          <mat-form-field class="grid-item">
            <input matInput placeholder="Дата рождения" />
          </mat-form-field>
          <mat-form-field class="grid-item grid-left-item">
            <mat-select placeholder="Пол">
              <mat-option value="male">Мужской</mat-option>
              <mat-option value="female">Женский</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="grid-item grid-right-item">
            <mat-select placeholder="ЦТ">
              <!-- Варианты для ЦТ -->
            </mat-select>
          </mat-form-field>

          <mat-form-field class="grid-item">
            <mat-select placeholder="Регион">
              <!-- Варианты для Региона -->
            </mat-select>
          </mat-form-field>

          <mat-form-field class="grid-item">
            <mat-select placeholder="Орган">
              <!-- Варианты для Органа -->
            </mat-select>
          </mat-form-field>
          <button mat-button class="grid-item-button">Отобразить все</button>
        </div>
        <div class="grid-row">
          <mat-form-field class="grid-item">
            <mat-select placeholder="Группа крови">
              <!-- Варианты для Группы крови -->
            </mat-select>
          </mat-form-field>

          <mat-form-field class="grid-item">
            <mat-select placeholder="RH фактор">
              <!-- Варианты для RH фактора -->
            </mat-select>
          </mat-form-field>

          <mat-form-field class="grid-item">
            <mat-select placeholder="HLA заполнено">
              <!-- Варианты для HLA -->
            </mat-select>
          </mat-form-field>

          <mat-form-field class="grid-item">
            <mat-select placeholder="PRA заполнено">
              <!-- Варианты для PRA -->
            </mat-select>
          </mat-form-field>
          <button mat-button class="grid-item-button">Новый реципиент</button>
        </div>
      </form>
    </div>
  </div>
  <div>Table Here</div>
</div>
