<div>
  <mat-toolbar>
    <div class="header-container">
      <div class="header-left">
        <span
          >Медицинская информационная система учета доноров и реципиентов</span
        >
      </div>
      <div class="header-controls">
        <button mat-icon-button class="translater">
          <span class="translater">RU</span>
        </button>
        <button mat-icon-button>
          <mat-icon color="primary">account_circle</mat-icon>
          <span>Личный кабинет</span>
        </button>
      </div>
    </div>
  </mat-toolbar>
</div>
