.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.mat-toolbar {
  background-color: #fff;
  box-shadow: rgba(220, 220, 220, 0.25) 0px 2px 2px -2px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -2px;
}

.mat-icon {
  margin-right: 1vw;
}

.header-left {
  span {
    font-size: 28px;
    display: flex;
    align-items: center;
  }
}

.translater {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ececf1;
  border-radius: 50%;
  font-size: 22px;
  color: #266ba9;
  margin: 0;
}

.header-controls {
  display: flex;
  align-items: center;
}
